<div class="deckster-deck-toolbar">
    <img class="deck-toolbar-logo" src="<%= deck.logoUrl %>"/>
    <div class="deck-search-wrapper">
        <input type="text" class="deck-toolbar-searchbox" placeholder="<%= deck.searchPlaceholder %>">
    </div>
    <div class="deck-toolbar-controls">
        <span class="toolbar-control refresh glyphicon glyphicon-refresh"></span>
        <span class="toolbar-control settings glyphicon glyphicon-cog"></span>
        <span class="toolbar-control save glyphicon glyphicon-floppy-disk"></span>
    </div>
</div>