<% if (card.isPopout) { %>
<div class="deckster-card is-popout" id="<%= card.id %>">
<% } else { %>
<div class="deckster-card" id="<%= card.id %>">
<% } %>
    <div class="deckster-card-inner">
        <div class="deckster-card-header">
            <div class="deckster-card-controls left"></div>
            <div class="deckster-card-title drag-handle">
              <h2 class="drag-handle"><%= card.title %></h2>
              <span class="deckster-card-controls center"></span>
            </div>
            <div class="deckster-default-controls">
              <span class="deckster-card-control deckster-card-reload glyphicon glyphicon-refresh"></span>
              <span class="deckster-card-control deckster-card-toggle glyphicon glyphicon-resize-full"></span>
              <a href="<%= card.rootUrl %>/card/<%= card.id %>" target="_blank" class="deckster-card-control deckster-card-popout glyphicon glyphicon-new-window thin"></a>
            </div>
            <div class="deckster-card-controls right"></div>
        </div>
        <div class="deckster-card-content">
            <div class="deckster-card-overlay"></div>
            <div class="deckster-summary"></div>
            <div class="deckster-details" style="display: none;"></div>
        </div>
        <% if (card.showFooter) { %>
        <div class="deckster-card-footer">
          <div class="left-controls"></div>
          <div class="right-controls">
            <span class="deckster-card-control deckster-card-remove glyphicon glyphicon-trash"></span>
          </div>
        </div>
        <% } %>
    </div>
</div>
